//-
  Interface Button {
    title?: string 
    type?: enumString['button', 'link']
    icon?: string
    link?: string
    className?: string
    isReverse?: boolean
    isSubmit?: boolean
  }

mixin Button(data)
  if data.type === 'link'
    a.button-component.d-flex.align-items-center.justify-content-center(class=`${data.className} ${data.isReverse ? 'reverse' : ''}` href=`${data.link}`)
      if data.icon === 'icon-user-plus-blue.svg'
        <svg fill="#00559F" class="button-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.33333 6.66683H3.33333V4.66683H2V6.66683H0V8.00016H2V10.0002H3.33333V8.00016H5.33333V6.66683ZM12 7.3335C13.1033 7.3335 13.9933 6.43683 13.9933 5.3335C13.9933 4.23016 13.1033 3.3335 12 3.3335C11.7867 3.3335 11.5833 3.36683 11.39 3.43016C11.7667 3.97016 11.9933 4.62683 11.9933 5.3335C11.9933 6.04016 11.7667 6.69683 11.39 7.23683C11.5833 7.30016 11.7867 7.3335 12 7.3335ZM8.66667 7.3335C9.77 7.3335 10.66 6.43683 10.66 5.3335C10.66 4.23016 9.77 3.3335 8.66667 3.3335C7.56333 3.3335 6.66667 4.23016 6.66667 5.3335C6.66667 6.43683 7.56333 7.3335 8.66667 7.3335ZM13.08 8.7735C13.6333 9.25683 14 9.88016 14 10.6668V12.0002H16V10.6668C16 9.64016 14.4167 9.01016 13.08 8.7735ZM8.66667 8.66683C7.33333 8.66683 4.66667 9.3335 4.66667 10.6668V12.0002H12.6667V10.6668C12.6667 9.3335 10 8.66683 8.66667 8.66683Z" /></svg>
      else if data.icon === 'icon-login-blue.svg'
        <svg fill="#00559F" class="button-icon" width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0918 12.6665C14.748 12.6665 16.0918 11.3228 16.0918 9.6665V3.6665C16.0918 2.01025 14.748 0.666504 13.0918 0.666504H10.4668C10.248 0.666504 10.0918 0.854004 10.0918 1.0415V1.7915C10.0918 2.01025 10.248 2.1665 10.4668 2.1665H13.0918C13.9043 2.1665 14.5918 2.854 14.5918 3.6665V9.6665C14.5918 10.5103 13.9043 11.1665 13.0918 11.1665H10.4668C10.248 11.1665 10.0918 11.354 10.0918 11.5415V12.2915C10.0918 12.5103 10.248 12.6665 10.4668 12.6665H13.0918ZM5.31055 1.2915L4.68555 1.9165C4.5293 2.0415 4.5293 2.2915 4.68555 2.44775L8.2168 5.854H0.466797C0.248047 5.854 0.0917969 6.0415 0.0917969 6.229V7.104C0.0917969 7.32275 0.248047 7.479 0.466797 7.479H8.2168L4.68555 10.9165C4.5293 11.0728 4.5293 11.3228 4.68555 11.4478L5.31055 12.0728C5.43555 12.229 5.68555 12.229 5.8418 12.0728L10.9668 6.94775C11.123 6.7915 11.123 6.57275 10.9668 6.4165L5.8418 1.2915C5.68555 1.13525 5.43555 1.13525 5.31055 1.2915Z" /></svg>
      else if data.icon === 'icon-user-blue.svg'
        <svg fill="#00559F" class="button-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 16" style="enable-background:new 0 0 14 16;" xml:space="preserve"> <path class="st0" d="M8.6,8.9C8.1,9.2,7.6,9.4,7,9.4S5.9,9.2,5.4,8.9c-1.7,0.1-3,1.5-3,3.2V13l0.3,0.1c0.1,0,1.5,0.5,4.3,0.5 c2.8,0,4.2-0.5,4.3-0.5l0.3-0.1v-0.8C11.6,10.4,10.3,9,8.6,8.9z"/> <path class="st0" d="M7,8.5c1.6,0,2.8-1.7,2.8-3.2c0-1.5-1.2-2.8-2.8-2.8c-1.5,0-2.8,1.2-2.8,2.8C4.2,6.7,5.4,8.5,7,8.5z"/> </svg>
      else if data.icon === 'icon-bars-blue.svg'
        <svg fill="#00559F" class="button-icon" width="18" height="14" viewBox="0 0 18 14" xmlns="http://www.w3.org/2000/svg"><rect width="18" height="2.33333" /><rect y="5.83325" width="18" height="2.33333" /><rect y="11.6667" width="18" height="2.33333" /></svg>
      else if data.icon 
        img(src=`${data.icon}`, alt="").button-icon
      if data.title 
        span.button-title= data.title

  else
    button.button-component.d-flex.align-items-center.justify-content-center(class=`${data.className} ${data.isReverse ? 'reverse' : ''}` type=`${data.isSubmit ? 'submit' : 'button'}`)
      if data.icon === 'icon-user-plus-blue.svg'
        <svg fill="#00559F" class="button-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.33333 6.66683H3.33333V4.66683H2V6.66683H0V8.00016H2V10.0002H3.33333V8.00016H5.33333V6.66683ZM12 7.3335C13.1033 7.3335 13.9933 6.43683 13.9933 5.3335C13.9933 4.23016 13.1033 3.3335 12 3.3335C11.7867 3.3335 11.5833 3.36683 11.39 3.43016C11.7667 3.97016 11.9933 4.62683 11.9933 5.3335C11.9933 6.04016 11.7667 6.69683 11.39 7.23683C11.5833 7.30016 11.7867 7.3335 12 7.3335ZM8.66667 7.3335C9.77 7.3335 10.66 6.43683 10.66 5.3335C10.66 4.23016 9.77 3.3335 8.66667 3.3335C7.56333 3.3335 6.66667 4.23016 6.66667 5.3335C6.66667 6.43683 7.56333 7.3335 8.66667 7.3335ZM13.08 8.7735C13.6333 9.25683 14 9.88016 14 10.6668V12.0002H16V10.6668C16 9.64016 14.4167 9.01016 13.08 8.7735ZM8.66667 8.66683C7.33333 8.66683 4.66667 9.3335 4.66667 10.6668V12.0002H12.6667V10.6668C12.6667 9.3335 10 8.66683 8.66667 8.66683Z" /></svg>
      else if data.icon === 'icon-login-blue.svg'
        <svg fill="#00559F" class="button-icon" width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0918 12.6665C14.748 12.6665 16.0918 11.3228 16.0918 9.6665V3.6665C16.0918 2.01025 14.748 0.666504 13.0918 0.666504H10.4668C10.248 0.666504 10.0918 0.854004 10.0918 1.0415V1.7915C10.0918 2.01025 10.248 2.1665 10.4668 2.1665H13.0918C13.9043 2.1665 14.5918 2.854 14.5918 3.6665V9.6665C14.5918 10.5103 13.9043 11.1665 13.0918 11.1665H10.4668C10.248 11.1665 10.0918 11.354 10.0918 11.5415V12.2915C10.0918 12.5103 10.248 12.6665 10.4668 12.6665H13.0918ZM5.31055 1.2915L4.68555 1.9165C4.5293 2.0415 4.5293 2.2915 4.68555 2.44775L8.2168 5.854H0.466797C0.248047 5.854 0.0917969 6.0415 0.0917969 6.229V7.104C0.0917969 7.32275 0.248047 7.479 0.466797 7.479H8.2168L4.68555 10.9165C4.5293 11.0728 4.5293 11.3228 4.68555 11.4478L5.31055 12.0728C5.43555 12.229 5.68555 12.229 5.8418 12.0728L10.9668 6.94775C11.123 6.7915 11.123 6.57275 10.9668 6.4165L5.8418 1.2915C5.68555 1.13525 5.43555 1.13525 5.31055 1.2915Z" /></svg>
      else if data.icon === 'icon-user-blue.svg'
        <svg fill="#00559F" class="button-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 16" style="enable-background:new 0 0 14 16;" xml:space="preserve"> <path class="st0" d="M8.6,8.9C8.1,9.2,7.6,9.4,7,9.4S5.9,9.2,5.4,8.9c-1.7,0.1-3,1.5-3,3.2V13l0.3,0.1c0.1,0,1.5,0.5,4.3,0.5 c2.8,0,4.2-0.5,4.3-0.5l0.3-0.1v-0.8C11.6,10.4,10.3,9,8.6,8.9z"/> <path class="st0" d="M7,8.5c1.6,0,2.8-1.7,2.8-3.2c0-1.5-1.2-2.8-2.8-2.8c-1.5,0-2.8,1.2-2.8,2.8C4.2,6.7,5.4,8.5,7,8.5z"/> </svg>
      else if data.icon === 'icon-bars-blue.svg'
        <svg fill="#00559F" class="button-icon" width="18" height="14" viewBox="0 0 18 14" xmlns="http://www.w3.org/2000/svg"><rect width="18" height="2.33333" /><rect y="5.83325" width="18" height="2.33333" /><rect y="11.6667" width="18" height="2.33333" /></svg>
      else if data.icon 
        img(src=`${data.icon}`, alt="").button-icon
      if data.title 
        span.button-title= data.title