include ../common/data-account-sidebar.pug

mixin renderIcon(type)
  if type === 'save'
    <svg class="item-icon" width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 0.5H1.5C0.9475 0.5 0.505 0.9475 0.505 1.5L0.5 9.5L4 8L7.5 9.5V1.5C7.5 0.9475 7.0525 0.5 6.5 0.5Z" fill="#00559F"/></svg>
  if type === 'audio'
    <svg class="item-icon" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 0.166504C2.68667 0.166504 0 2.85317 0 6.1665V10.8332C0 11.9365 0.896667 12.8332 2 12.8332H4V7.49984H1.33333V6.1665C1.33333 3.58984 3.42333 1.49984 6 1.49984C8.57667 1.49984 10.6667 3.58984 10.6667 6.1665V7.49984H8V12.8332H10C11.1033 12.8332 12 11.9365 12 10.8332V6.1665C12 2.85317 9.31333 0.166504 6 0.166504Z" fill="#00559F"/></svg>
  if type === 'video'
    <svg class="item-icon" width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.417 0.166504H15.167V0.791504C15.167 1.01025 14.9795 1.1665 14.792 1.1665H13.542C13.3232 1.1665 13.167 1.01025 13.167 0.791504V0.166504H3.16699V0.791504C3.16699 1.01025 2.97949 1.1665 2.79199 1.1665H1.54199C1.32324 1.1665 1.16699 1.01025 1.16699 0.791504V0.166504H0.916992C0.479492 0.166504 0.166992 0.510254 0.166992 0.916504V11.4165C0.166992 11.854 0.479492 12.1665 0.916992 12.1665H1.16699V11.5415C1.16699 11.354 1.32324 11.1665 1.54199 11.1665H2.79199C2.97949 11.1665 3.16699 11.354 3.16699 11.5415V12.1665H13.167V11.5415C13.167 11.354 13.3232 11.1665 13.542 11.1665H14.792C14.9795 11.1665 15.167 11.354 15.167 11.5415V12.1665H15.417C15.8232 12.1665 16.167 11.854 16.167 11.4165V0.916504C16.167 0.510254 15.8232 0.166504 15.417 0.166504ZM3.16699 9.7915C3.16699 10.0103 2.97949 10.1665 2.79199 10.1665H1.54199C1.32324 10.1665 1.16699 10.0103 1.16699 9.7915V8.5415C1.16699 8.354 1.32324 8.1665 1.54199 8.1665H2.79199C2.97949 8.1665 3.16699 8.354 3.16699 8.5415V9.7915ZM3.16699 6.7915C3.16699 7.01025 2.97949 7.1665 2.79199 7.1665H1.54199C1.32324 7.1665 1.16699 7.01025 1.16699 6.7915V5.5415C1.16699 5.354 1.32324 5.1665 1.54199 5.1665H2.79199C2.97949 5.1665 3.16699 5.354 3.16699 5.5415V6.7915ZM3.16699 3.7915C3.16699 4.01025 2.97949 4.1665 2.79199 4.1665H1.54199C1.32324 4.1665 1.16699 4.01025 1.16699 3.7915V2.5415C1.16699 2.354 1.32324 2.1665 1.54199 2.1665H2.79199C2.97949 2.1665 3.16699 2.354 3.16699 2.5415V3.7915ZM12.167 10.2915C12.167 10.5103 11.9795 10.6665 11.792 10.6665H4.54199C4.32324 10.6665 4.16699 10.5103 4.16699 10.2915V7.2915C4.16699 7.104 4.32324 6.9165 4.54199 6.9165H11.792C11.9795 6.9165 12.167 7.104 12.167 7.2915V10.2915ZM12.167 5.0415C12.167 5.26025 11.9795 5.4165 11.792 5.4165H4.54199C4.32324 5.4165 4.16699 5.26025 4.16699 5.0415V2.0415C4.16699 1.854 4.32324 1.6665 4.54199 1.6665H11.792C11.9795 1.6665 12.167 1.854 12.167 2.0415V5.0415ZM15.167 9.7915C15.167 10.0103 14.9795 10.1665 14.792 10.1665H13.542C13.3232 10.1665 13.167 10.0103 13.167 9.7915V8.5415C13.167 8.354 13.3232 8.1665 13.542 8.1665H14.792C14.9795 8.1665 15.167 8.354 15.167 8.5415V9.7915ZM15.167 6.7915C15.167 7.01025 14.9795 7.1665 14.792 7.1665H13.542C13.3232 7.1665 13.167 7.01025 13.167 6.7915V5.5415C13.167 5.354 13.3232 5.1665 13.542 5.1665H14.792C14.9795 5.1665 15.167 5.354 15.167 5.5415V6.7915ZM15.167 3.7915C15.167 4.01025 14.9795 4.1665 14.792 4.1665H13.542C13.3232 4.1665 13.167 4.01025 13.167 3.7915V2.5415C13.167 2.354 13.3232 2.1665 13.542 2.1665H14.792C14.9795 2.1665 15.167 2.354 15.167 2.5415V3.7915Z" fill="#00559F"/></svg>
  if type === 'heart'
    <svg class="item-icon" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.00067 1.6419C7.37092 0.411655 9.48842 0.452488 10.8085 1.7749C12.128 3.0979 12.1735 5.20491 10.9462 6.57924L5.9995 11.5329L1.054 6.57924C-0.173332 5.20491 -0.127248 3.0944 1.19167 1.7749C2.51292 0.454238 4.62633 0.409905 6.00067 1.6419Z" fill="#00559F"/></svg>
  if type === 'book-mark'
    <svg class="item-icon" width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.36375 9.49091H1.5092C1.02721 9.49091 0.636475 9.88164 0.636475 10.3636H0.636475C0.636475 10.8456 1.02721 11.2364 1.5092 11.2364H9.36375C9.36375 11.2364 9.01466 10.7564 9.01466 10.3636C9.01466 9.97091 9.36375 9.49091 9.36375 9.49091Z" fill="#18558E"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8.49102 0.763641H5.17466V4.25455L3.77829 3.20728L2.38193 4.25455V0.763641H1.5092C1.02745 0.764218 0.637052 1.15461 0.636475 1.63637V9.51029C0.865686 9.27465 1.18047 9.14175 1.5092 9.14182H9.36375V1.63637C9.36317 1.15461 8.97277 0.764218 8.49102 0.763641Z" fill="#00559F"/></svg>
  if type === 'book-seen'
    <svg class="item-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.2501 12.25H7.58342V3.5C7.58342 3.03587 7.76779 2.59075 8.09598 2.26256C8.42417 1.93437 8.86929 1.75 9.33342 1.75H12.2501C12.4048 1.75 12.5532 1.81146 12.6626 1.92085C12.772 2.03025 12.8334 2.17862 12.8334 2.33333V11.6667C12.8334 11.8214 12.772 11.9697 12.6626 12.0791C12.5532 12.1885 12.4048 12.25 12.2501 12.25ZM6.41675 12.25H1.75008C1.59537 12.25 1.447 12.1885 1.3376 12.0791C1.22821 11.9697 1.16675 11.8214 1.16675 11.6667V2.33333C1.16675 2.17862 1.22821 2.03025 1.3376 1.92085C1.447 1.81146 1.59537 1.75 1.75008 1.75H4.66675C5.13088 1.75 5.576 1.93437 5.90419 2.26256C6.23237 2.59075 6.41675 3.03587 6.41675 3.5V12.25ZM6.41675 12.25H7.58342V13.4167H6.41675V12.25Z" fill="#00559F"/></svg>
  if type === 'logout'
    <svg class="item-icon" width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.916585 11.8333C0.761876 11.8333 0.613503 11.7719 0.504106 11.6625C0.39471 11.5531 0.333252 11.4047 0.333252 11.25V0.74999C0.333252 0.59528 0.39471 0.446907 0.504106 0.337511C0.613503 0.228115 0.761876 0.166656 0.916585 0.166656H9.08325C9.23796 0.166656 9.38633 0.228115 9.49573 0.337511C9.60513 0.446907 9.66658 0.59528 9.66658 0.74999V11.25C9.66658 11.4047 9.60513 11.5531 9.49573 11.6625C9.38633 11.7719 9.23796 11.8333 9.08325 11.8333H0.916585ZM6.74992 8.33332L9.66658 5.99999L6.74992 3.66666V5.41666H3.24992V6.58332H6.74992V8.33332Z" fill="#00559F"/></svg>

section.style-section.section-category.account-sidebar
  .account-header.d-flex.align-items-center 
    .account-avatar 
      img(src="./assets/images/image-sample-avatar.png", alt="")
    .account-info 
      h6.account-name Nguyễn Hoà An
      p.account-des Tài khoản V-VIP

  ul.category-main.mt-4
    each item in dataAccountSidebar
      li.category-item 
        if item.child.length !== 0
          .item.d-flex.align-items-center
            +renderIcon(item.icon)
            span.item-title= item.title 
            <svg class="item-angle" width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.1L6.4 0.5L4 2.9L1.6 0.5L0 2.1L4 6.1L8 2.1Z" fill="#8898AA"/></svg>

          ul.item-sub-category 
            each sub in item.child
              li.category-item 
                a(href=`${sub.link}`).item.d-flex.align-items-center
                  +renderIcon(sub.icon)
                  span.item-title= sub.title 
        
        else
          a(href=`${item.link}`).item.d-flex.align-items-center
            +renderIcon(item.icon)
            span.item-title= item.title 