include ../common/data-category-reading.pug

section.reading-category.section-category
  .category-header.d-flex.align-items-center
    img(src="./assets/icons/icon-list-video-white.svg", alt="" width="20" style="transform: translateY(1px);")
    span Bảng mục lục

  ul.category-main 
    each item in dataCategoryReading
      li.category-item 
        if item.child.length !== 0
          .item.d-flex.align-items-center
            span.item-title= item.title 
            <svg class="item-angle" width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.1L6.4 0.5L4 2.9L1.6 0.5L0 2.1L4 6.1L8 2.1Z" fill="#8898AA"/></svg>

          ul.item-sub-category 
            each sub in item.child
              li.category-item 
                a(href=`${sub.link}`).item.d-flex.align-items-center
                  <svg class="item-icon" width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.625 0.828125L0.6875 1.71875C0.5 1.95312 0.5 2.32812 0.6875 2.51562L9.17188 11L0.6875 19.5312C0.5 19.7188 0.5 20.0938 0.6875 20.3281L1.625 21.2188C1.85938 21.4531 2.1875 21.4531 2.42188 21.2188L12.2656 11.4219C12.4531 11.1875 12.4531 10.8594 12.2656 10.625L2.42188 0.828125C2.1875 0.59375 1.85938 0.59375 1.625 0.828125Z" fill="#959595"/></svg>
                  span.item-title= sub.title 

        else
          a(href=`${item.link}`).item.d-flex.align-items-center
            span.item-title= item.title 